<!DOCTYPE html>
{% load static %}
<html lang="en">
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="profile">
  <img src="{% static 'base/images/dog1.jpg' %}" class="rounded" alt="..." width="200px" height="200px">
</div>
<div class="profile">
  <p><h5>김용후</h5></p>
  <p><h5>국민대학교 소프트웨어전공</h5></p>
  <p><h5>email: dhdgn@naver.com / dhdgn@kookmin.ac.kr</h5></p>
  <p><h5>학점 평균(전공 학점 평균) 4.08(4.16)/4.5</h5></p>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="clear: both" id="nav-outline">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="https://hooeverything.tistory.com/" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/rladydgn" target="_blank">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.acmicpc.net/user/dhdgn" target="_blank">Baekjoon</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="outline">
  <h3><strong>세부이력</strong></h3>
  <br>
  <ul>
    <li>석관고등학교 졸업 (2015~2018)</li>
    <br>
    <li>국민대학교 4학년 2학기 재학중 (2018~)</li>
  </ul>
</div>
<hr class="hr-line">
<div class="outline">
  <h3><strong>경험</strong></h3>
  <br>
  <ul>
    <li>UCI-GREAT 프로그램 참여 (2021.6 ~ 2021.8)</li>
    <ul>
      <li>Adversarial Example 에 관한 공부</li>
    </ul>
    <br>
    <li>국민대학교 정보보안연구실 학부연구생 (2022.1 ~ 2022.6)</li>
    <ul>
      <li>유사 악성코드 및 파일(약 15만개) 검색 방법</li>
    </ul>
    <br>
    <li>(주)바로에이아이 인턴 (2022.6 ~ 2022.8)</li>
  </ul>
</div>
<hr class="hr-line">
<div class="outline">
  <h3><strong>기술</strong></h3>
    <br>
  <ul>
    <li>초급 기술 스택, 언어</li>
    <ul>
      <li>OpenGL, JavaScript, Android Studio, Django, PyTorch</li>
    </ul>
    <br>
    <li>중급 기술 스택, 언어</li>
    <ul>
      <li>C++, Python, Java</li>
    </ul>
  </ul>
</div>
<hr class="hr-line">
<div class="outline">
  <h3><strong>프로젝트</strong></h3>
  <br>
  <ul>
    <li><a href="{% url 'plagiarism' %}">알파프로젝트 과제코드 표절검사</a></li>
    <br>
    <li>로또 번호 추출 앱(Android)</li>
    <br>
  </ul>
</div>
<hr class="hr-line">
<div class="outline">
  <h3><strong>기타등등</strong></h3>
  <br>
  <p>컴퓨터 네트워크, 인공지능, 시스템소프트웨어,<br>
    운영체제, 컴퓨터 그래픽스, 컴퓨터 비전,<br>
    네트워크 최신기술(블록체인), 정보보호와시스템보안, 모바일프로그래밍 수강하였음</p>
</div>
</body>
</html>