{% extends 'base.html' %}
{% load board_filter %}
{% block content %}
<div>
    <table class="table table-sm">
        <thead class="table-light">
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>글쓴이</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>추천수</th>
            </tr>
        </thead>
        <tbody>
            {% if board_list %}
                {% for board in board_list %}
                    <tr>
                        <td>{{ board.id }}</td>
                        <td><a href="{% url 'board:board_detail' board.id %}">{{ board.title }}</a></td>
                        <td>{{ board.author }}</td>
                        <td>{{ board.created_at }}</td>
                        <td>{{ board.viewers }}</td>
                        <td>추천수</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <!-- 페이징 -->
    <ul class="pagination">
        <!-- 이전 페이지 -->
        {% if board_list.number > 10 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board_list.number|rest:10 }}">이전</a>
        </li>
        {% else %}
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in board_list.paginator.page_range %}
        {% if page_number >= board_list.number|get_low:10 and page_number <= board_list.number|get_high:10 %}
        {% if page_number == board_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if board_list.number|divide:10 < board_list.paginator.count|divide:100 %}
        <li class="page-item">
            <a class="page-link" href="?page={{ board_list.number|next_chapter:10 }}">다음</a>
        </li>
        {% else %}
        {% endif %}
    </ul>
    <div>
        <a href="{% url 'board:board_create' %}">글쓰기</a>
    </div>
</div>
{% endblock %}