{% extends 'base.html' %}
{% block content %}
<div class="container my-3">
    <div>
        <h2 class="border-bottom py-3">{{ board.title }}</h2>
        <h3>{{ board.subject }}</h3>
        <p>{{ board.content }}</p>
        <div>
            조회수: {{ board.viewers }}
        </div>
    </div>
    <!-- 댓글 -->
    <h5>{{ board.comment_set.count }}개의 댓글</h5>
    <div>
        {% for comment in board.comment_set.all %}
        <div class="card my-3">
            <div class="card-body">
                <div class="card-text">{{ comment.content }}</div>
                <div class="d-flex justify-content-end">
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">{{ comment.author.username }}</div>
                        <div>{{ comment.created_at }}</div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- 댓글 작성 -->
        <form action="{% url 'board:comment_create' board.id %}" method="post" class="my-3">
            {% csrf_token %}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <label for="content" class="form-label">댓글 작성</label>
                <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content" class="form-control" rows="5"></textarea>
            </div>
            <input type="submit" value="댓글등록" class="btn btn-primary">
        </form>
    </div>
</div>
{% endblock %}