/* named upload */
.filebox .upload-name {
    display: inline-block;
    padding: .5em .75em; /* label의 패딩값과 일치 */
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    width: 500px;
    background: lightgray;
    margin-left: 20px;
}
}

#filebox {
    height: 200px;
    width: 500px;
    background: lightgray;
    margin-left: 20px;
    display: table;
}

#dd {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#container {
    margin: 20px;
}

#upload-name {
    width: 500px;
    background: lightgray;
    margin-left: 20px;
}

.register-login-button {
    float: right;
}

.title-left-h1 {
    float: left;
}